.users-main {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.users-header, .users-view{
    width: calc(100%);
}

.users-avatar {
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 5px;
}
.users-view{
    display: flex;
    margin:5px;
}